/* Estilos generales */
/* .poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }   */

body {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    margin: 0;
    padding: 0 0 65px 0;
    height: 100%;
}
.header{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    /* text-align: center; */
    background-image: url(./img/discosbanner.jpg);
    /* background-repeat: no-repeat; */
    background-size: 900px;
    height: 110px;
    background-position: 0 -30px;
    /* padding: 20px 0;  */
    /* overflow: hidden; */
    
}

h1{
    background-color: aliceblue;
    /* display: inline-block; */
    margin: 21px 10px;
    /* margin:100px 100px; */
    border-radius: 10px;
    font-size: 2.5em;
    /* padding: 30px 10px; */
    /* margin-top: 10px; */
}
/* .header h3{
    margin: 40.5px 0;
} */

.container {
    /* background-color: aquamarine; */
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para el menú de navegación */
nav {
    text-align: center;
    background-color: #333;
    color: white;
    /* margin-top: 65px; */
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover:not(.actual) {
    text-decoration: underline;
    background-color: rgb(160, 160, 160);
}

.actual {
    background-color: rgb(117, 180, 158);
}
.contenido{
    margin-left: 10px;
}

footer{
    width: 100%;
    padding:20px;
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    bottom:0;
}
